<div class="timetable">
  <div class="row">
    <div class="timeline"></div>
    <div class="line-delta"></div>
    @for (col of _columns; track col.datekey) {
      <div class="table-title">
        <div class="title-grid-serif"></div>
        <div class="data weekday">{{col.weekday.narrow | uppercase}}</div>
        <div class="data number-day">{{col.title}}</div>
      </div>
    }
  </div>

  <div class="row">
    <div class="table-container">
      <div class="timeline" data-role="timeline" #timeline>
        @for (point of mainTimeline; track point.toCompareValue()) {
          <div class="time-point"
               [attr.data-time-point]="point.toString()">{{point.toString()}}
          </div>
        }
      </div>

      <div class="grid">
        @for (point of mainTimeline; track point.toCompareValue()) {
          <div role="row"></div>
        }
      </div>

      <div class="vertical-grid-line line-delta"></div>

      <div class="columns" #columnsContainer>
        @for (col of columns; track col.datekey) {
          <app-timetable-column [datekey]="col.datekey"
                                [slots]="col.slots"
                                (selectionChanged)="_previewChanged($event)"
          ></app-timetable-column>
        }
      </div>

    </div>
  </div>
</div>
