<div>
  <input [(ngModel)]="value"
         (ngModelChange)="onInputValueChange($event)"
         (focusin)="open()"/>
</div>
@if (isOpened()) {
  <div class="dropdown-options">
    <div class="dropdown-options-container">
      @for (option of options(); track option.toString()) {
        <div (click)="setValue($event)"
             class="dropdown-option"
             [attr.data-value]="option.toString()">
          {{option.toString() | titlecase}}
        </div>
      }
    </div>
  </div>
}

